@mixin clearfix {
    &::after{
        content:""; //otherwise the pseudo element will not appear 
        display: table; // this is the standard version of the clearfix 
        clear: both // this will clear both float right and left 
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px:      phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   Is where our normal style apply
1800px + :      Big desktop
*/

// @mixin respond-phone {
//     @media (max-width:600px) { @content }; // @content allow us to pass a block of code to the mixin
// }



/*
$breakpoint argument choices:
 - phone
 - tab-portrait 
 - tab-landscape
 - big-desktop
*/

// ORDER: BASE + TYPOGRAPHY > general layout + grid page layout > components

// 1em = 16px // example 600px / 16px (browser) = 37.5em 

@mixin respond($breakpoint) { 

     @if  $breakpoint == phone {   
        @media only screen and (max-width:37.5em) { @content }; //600px // The best way to write media queries is with em 
     }  
     
     @if  $breakpoint == tab-port {   
        @media only screen and(max-width:56.25em) { @content };   // 900px
     } 

     @if  $breakpoint == tab-land {   
        @media only screen and (max-width:75em) { @content };   //1200px
     } 

     @if  $breakpoint == big-desktop {   
        @media only screen and (min-width:112.5em) { @content }; // if it less it will not happened if it more or equal or more 1800px it will happened 
     } 
}