.btn{
    /* pseudo-classes are a special state of a selector. So we use pseudo-classes to style elements under special conditions */
    &:link,
    &:visited{
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem; /* divide by 10px */
      display: inline-block; /* so it has it own space it is treated as text. It in the text box we add text-align: center; */
      border-radius: 10rem; /* divide by 10px */
      transition: all .2s; /* it is just writing down all the possibilities, in a short hand */
      position: relative;
      font-size: $default-font-size;
    }
    
    &:hover{
       transform: translateY(-3px);  /* to move up it is -3px  */
       box-shadow: 0 1rem 2rem rgba($color-black,.2); /* divide by 10px */
    
       &::after{  /* this is an after hover effect */
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    }
    
    &:active{
        transform: translateY(-1px); /* it is related to the initial link state (btn:link) active it is when we click on the button */
        box-shadow: 0 .5rem 1rem rgba($color-black,.2); /* divide by 10px */
    }
    
    &--white {
        background-color:$color-white;
        color: $color-grey-dark; 
        &::after{
            background-color:$color-white; 
        }
    }
    
    &::after{ /* this is the after effect pseudo element but we put the effect after behind the button */
        content:""; /* need to be in the after btn */
        display: inline-block; /* we use inline block because the bottom is also inline block */
        height:100%; /* it is basically treated like the child of the button */
        width: 100%; /* it is set as 100% of the width of the button */
        border-radius: 10rem; /* divide by 10px */
        position:absolute;
        top:0;
        left:0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated{
        animation: moveInBottom .5s ease-in-out .75s;
        animation-fill-mode: backwards; /* the style up to zero percent before the animation starts */
    }
    }

    .btn-text {
        &:link,
        &:visited{
          font-size: $default-font-size;
          color: $color-primary;
          display: inline-block;
          text-decoration: none;
          border-bottom: 1px solid $color-primary;
          padding:3px;
          transition: all .2s;
        }

        &:hover{
           background-color: $color-primary;
           color: $color-white;
           box-shadow: 0 1rem 2rem rgba($color-black, .15);
           transform: translateY(-2px);
        }

        &:active{
            box-shadow: 0 .5rem 1rem rgba($color-black, .15);
            transform: translateY(0px);
        }
    }